body {
  font-family: "Oswald", sans-serif;
}
.icon {
  font-size: 40px;
  font-weight: 600;
}
.cpurp {
  background-color: #660066;
}
.navbar ul {
  font-family: "Roboto";
}
#hero {
  margin-top: 4rem;
}
.background {
  background-image: url("../img/bg_hero.png");
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.extralight {
  font-weight: 1;
  font-size: 88px;
}
.extrabold {
  font-weight: 700;
  font-size: 88px;
}
