body {
  font-family: "Oswald", sans-serif;
}
.extralight {
  font-weight: 1;
  font-size: 2.2rem;
  margin-top: 290px;
}
.extrabold {
  font-weight: 700;
}
.font-weight-bold {
  font-weight: 300 !important;
  font-size: 25pt;
}

.card-title {
  font-weight: bold;
}

.icon {
  font-size: 40px;
  font-weight: 600;
}

.sans {
  font-style: "Open Sans";
  font-size: 22px;
}
.navbar ul {
  font-family: "Roboto"; /*No podia usar helvetica asi que la mas similar que encontre fue roboto*/
}
#hero {
  margin-top: 4rem;
}
.background {
  background-image: url("../img/imggg2.png");
  height: 73vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.letterborder {
  -webkit-text-stroke: 2px black;
}

.line {
  text-decoration: overline;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
}
.underline {
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
}

.underlight {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 15px;
  text-decoration-thickness: 3px;
}

.rrss {
  margin: 20px 10px;
  color: white;
}

.card-group {
  margin-left: 20%;
  margin-right: 20%;
}

#experience,
#portfolio,
#contact {
  padding-top: 55px;
}

hr {
  border: 1px solid black;
  width: 10%;
  margin: auto;
  margin-top: 0;
  opacity: 1;
  margin-bottom: 70px;
}

.hr-white {
  border: 1px solid white;
  width: 10%;
  margin: auto;
  margin-top: 0;
  opacity: 1;
  margin-bottom: 70px;
}

.display-5 {
  font-size: 40px;
}


@media (min-width: 1200px) {
  .display-4 {
    font-size: 8vw; /* 19px */
  }