body {
  font-family: "Oswald", sans-serif;
}
.icon {
  font-size: 40px;
  font-weight: 600;
}
.cpurp {
  background-color: #660066;
}
.navbar ul {
  font-family: "Roboto";
}
#hero {
  margin-top: 4rem;
}
.background {
  background-image: url("../img/imggg2.png");
  height: 73vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.extralight {
  font-weight: 1;
  font-size: 2.2rem;
  margin-top: 290px;
}
.extrabold {
  font-weight: 700;
}
.letterborder {
  -webkit-text-stroke: 2px black;
}
